# ignore all logs
*.log

# ignore pycharm folder
**/.idea
.idea/

# ignore error log
error.txt

# ignore build and dist folder
build/
dist/

# ignore egg folders
pygpc3.egg-info/
pygpc.egg-info

# ignore pycache
**/__pycache__

# ignore pycache
*.pyc

# ignore shared objects (cython extensions)
pygpc/*.so

# ignore tmp folder for tests
tests/tmp
